.aiBox{
  display: flex;
  align-items: center;
  background-color: var(--selection);
  width: 100%;
  height: 7.5rem;
  border-color: var(--green);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 15px;
  transform: translate(-50% -50%);

  p{
    color: var(--white);
    margin-left: 1rem;
    margin-right: 1rem;

  }

  h1{
    color: var(--green) !important;;
    font-size: 4rem !important;
  }
}

.iconBack{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--green);
  border-width: 0.15rem;
  margin-left: 1rem;

  width: 90px;
  height: 90px;

}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
}