.aiBox{
  display: flex;
  align-items: center;
  background-color: var(--selection);
  width: 100%;
  height: 7.5rem;
  border-color: var(--green);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 15px;
}

.iconBack{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--green);
  border-width: 0.15rem;
  margin-left: 1rem;

  width: 100px;
  height: 80px;

}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
 
}

.text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  p{
    color: var(--white);
    margin-right: 1rem;
  }

  h1{
    color: var(--green);
    font-size: 4rem;
  }

}