.webPage {
  background: var(--background);
  width: 100%;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0rem 0.5rem 0rem;

  h1 {
    margin: auto;
    color: var(--white);
  }

  span {
    margin: auto;
    width: 7rem;
    height: 0.1rem;
    background: var(--green);
    margin-top: 0.5rem;
  }
}

.institutions{
  display: flex;
  padding: 2rem;
  width: 100%;
  justify-content: space-between;
}
