.box {
	display: flex;
	justify-content: flex-end;
	background-color: var(--background);
	width: 50rem;
	height: 35rem;
	border-radius: 10px;
	padding: 2rem;
}

.textBox {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;

	h2 {
		color: var(--white);
		padding-top: 4rem;
	}

	button {
		background: var(--purple);
		color: var(--white);
		border: none;
		width: 80%;
		height: 2rem;
		border-radius: 20px;

		transition: filter 0.2s;

		&:hover {
			filter: brightness(0.9);
		}
	}
}

.textInputGray {
	width: 80%;

	p {
		color: var(--gray-500);
		margin-bottom: 0.25rem;
	}
}

.textInputColor {
	width: 80%;

	p {
		color: var(--purple);
		margin-bottom: 0.25rem;
	}
}

.inputFieldGray {
	width: 100%;
	color: white;
	background: none;
	text-size-adjust: initial;
	border: none;
	border-bottom: 2px solid var(--gray-500);

	&:focus {
		outline: none;
		border-bottom: 3px solid var(--purple);
	}
}

.inputFieldColor {
	width: 100%;
	text-size-adjust: initial;
	color: white;
	background: none;
	border: none;
	border-bottom: 2px solid var(--purple);

	&:focus {
		outline: none;
		border-bottom: 3px solid var(--purple);
	}
}
