.artificalPage {
  width: 100%;
  height: 100vh;
  background: var(--background);

  h1 {
    color: var(--white);
  }
}

.contain {
  display: flex;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0rem 0.5rem 0rem;

  h1 {
    margin: auto;
    color: var(--white);
  }

  span {
    margin: auto;
    width: 7rem;
    height: 0.1rem;
    margin-top: 0.5rem;
    background: var(--green);
  }
}

.boxes {
  display: flex;
  width: 40%;
  height: 100%;
  flex-wrap: wrap;
  padding: 3rem 2rem 0rem 2rem;
  gap: 2rem;
}

.upload {
  padding: 3rem 2rem 0rem 0rem;
  width: 60%;
  justify-content: center;
}

.buttonBrowse {
  width: 100%;
  background: none;
  height: 100%;
  border-style: dashed;
  border-color: var(--gray-500);
  color: var(--gray-500);
}

.table {
  width: 100%;
  height: 100%;
}

.processButtonColor {
  width: 8rem;
  height: 2rem;
  color: var(--green);
  background: var(--selection);
  border: none;
  margin: 0rem 0.8rem 1rem 0rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: var(--green);
  border-width: 0.1rem;
  font-weight: bold;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.progress{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.downloadButton{
  position: absolute;
  right: 0rem;
  color: white;
  text-decoration: none;
  background: var(--green);
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  border:none;
  font-weight: bold;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.csvLink{
  text-decoration: none;
  color: var(--white);
}

.progressContainer{
  padding: 1rem 2rem 0rem 2rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.disableButton{
  background-color: var(--selection);
  margin: 0rem 0.8rem 1rem 0rem;
  color: var(--gray-500);
  text-decoration: none;
  width: 8rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  border:none;
}


